/* element selectors */
body {
    background-color: #233e7d;
    font-family: sans-serif;
    color: #FFFFFF;
    font-weight: bold;
}

section {
    width: 50%;
    padding-top: 20px;
    margin: auto;
}

/* class selectors */
.hidden {
    display: none;
}

.btn {
    background-color: #75370b;
    border: none;
    width: 100%;
    margin-bottom: 10px;
    color: #FFFFFF;
    font-weight: bold;
}

#begin-page,
h1 {
    text-align: center;
}